.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    padding: 20px;

    background: var(--inverted-bg-color);
}

.listLinks {
    display: flex;

    &__item:not(:last-child) {
        margin-right: 15px;
    }
}