.profile {
    &__card {
       padding: 20px; 
       border: 2px solid var(--inverted-bg-color);
    }

    &__avatarWrapper {
        display: flex;
        justify-content: center;
    }

    &__input {
        margin-top: 10px;
    }
}

.loading,
.error {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}